.content {
    margin-left: 11%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.cus_navbar {
    background-color: grey;
}

.act-nav {
    background-color: green;
}